* {
    font-family: arial;
}

.xx{
  color: red;
  font-size: 60 px;
}

#blue{
  display: block;
  color: black;

.main-div{
  display: inline-block;
  color:white;
  width: 300px;
  height:100px;
  border:dashed black;
}

.images{
  width:200px;
  height:200px;
}

#Main-Logo{
  size:100px;
  font-family: 'Bungee Shade', cursive;
}
