@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
/*-------------------------*/


.xx{
  color: red;
  font-size: 60 px;
}

.images{
  width:200px;
  height:200px;
}

#Main-Logo{
  font-family: 'Bungee Shade', cursive;
}

#envNewsLink{
  font-size: 60px;
}
